<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>
<body>
    <form action="" method="POST">
        <check if="{{ isset(@SESSION.uuid) }}">
            <true>
                <input type="hidden" id="uuid" value="{{ @SESSION.uuid }}">
            </true>
            <false>
                <input type="hidden" id="uuid" value="-1">
            </false>
        </check>

        <!--Header-->
        <h3>Expenses</h3>

        <!--Name-->
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <br><br>
        <!--Type-->
        <label class="font-weight-bold d-block col-">Expense Type</label>
        <div class="form-check form-check-inline" id="radio-button">
            <input class="form-check-input" type="radio" name="type" id="percent" value="perc" checked>
            <label class="form-check-label" for="percent">
                Percentage
            </label>
        </div>
        <div class="form-check form-check-inline" id="gender">
            <input class="form-check-input" type="radio" name="type" id="cash" value="cash">
            <label class="form-check-label" for="cash">
                Cash Amount
            </label>
        </div>

        <!--Value-->
        <p>How much is being taken off? (X.xx% or X.xx) <input type="text" name="amount" id="amount"></p>
        <!--Buttons-->
        <button id="add">Add New Expense</button>
        <button type="submit" id="finished">Finished</button>
    </form>

    <!--List of Expenses-->
    <!--AJAX call-->
    <div id="expense-list"></div>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="model/javascript/expenses.js"></script>
</html>