<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Budget Calculator</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row shadow-sm bg-white rounded p-2">
            <h1>Welcome to the Budget Calculator</h1>
            <hr>

            <p> This page will allow you to manage expenses based on what you are paid.</p>

            <p> What you are paid can be calculated in the "Pay" tab. The result of the "Pay" tab is based on an hourly
                wage, hours, and tax deduction, or monthly salary and tax deduction, or a simple dollar amount with no
                tax deduction.</p>

            <p> Expenses can be created,
                edited, and deleted from the "Expenses" tab. When expenses are being taken from the sum of what you have
                been paid, first, any cash amounts will be deducted, from there, any percentages will be deducted from your total.

            <p> Your total can be found in the "Results" Tab. This tab will show all of the data you entered as well as some
                their corresponding calculations.</p>
        </div>

        <div class="row">
            <div class="container shadow-sm bg-white rounded">

            </div>
        </div>

    </div>





<!-- Bootstrap script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>