<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay</title>
</head>
<body>
    <!--Header-->
    <h3>Pay</h3>
    <!--ComboBox-->
    <select name="pay-type" id="pay-type">
        <option selected="selected">Choose one...</option>
        <option>Hourly</option>
        <option>Salary</option>
        <option>Manual (After Tax)</option>
    </select>
    <!--Modular Content (to be written in jQuery)-->
    <form action="" method="post">
        <input type="hidden" id="type" value="">
        <div id="response">

        </div>
    </form>
</body>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<!-- Script -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="model/javascript/pay.js"></script>
</html>