<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Main container -->
    <div class="container shadow-sm p-5 mb-5 mt-2 bg-white rounded w-50">
        <h1 class="text-center">Create Your Account</h1>
        <hr>

        <form action="#" method="post">
            <!-- Validate first name -->
            <check if="{{ isset(@errors.fname)}}">
                <div class="alert alert-danger" role="alert">
                    {{@errors.fname}}
                </div>
            </check>
            <!-- Validate last name -->
            <check if="{{ isset(@errors.lname)}}">
                <div class="alert alert-danger" role="alert">
                    {{@errors.lname}}
                </div>
            </check>
            <!-- Validate email-->
            <check if="{{ isset(@errors.email)}}">
                <div class="alert alert-danger" role="alert">
                    {{@errors.email}}
                </div>
            </check>
            <!-- Validate password-->
            <check if="{{ isset(@errors.password)}}">
                <div class="alert alert-danger" role="alert">
                    {{@errors.password}}
                </div>
            </check>
            <!-- Validate email-->
            <check if="{{ isset(@errors.confirmation)}}">
                <div class="alert alert-danger" role="alert">
                    {{@errors.confirmation}}
                </div>
            </check>

            <!-- Name input row-->
            <div class="row">
                <!-- First name input column -->
                <div class="col-6">
                    <label class="w-100">
                        <strong>First Name</strong>
                        <br>

                        <input type="text" name="fname" value="{{ @fname }}" class="form-control">
                    </label>
                </div>  <!-- End of first name input column -->

                <!-- Last name input column -->
                <div class="col-6">
                    <label class="w-100">
                        <strong>Last Name</strong>
                        <br>

                        <input type="text" name="lname" value="{{ @lname }}" class="form-control">
                    </label>
                </div>  <!-- End of last name input column -->
            </div>  <!-- End of name input row -->

            <!-- Email input row-->
            <div>
                <label class="w-100">
                    <strong>Email</strong>
                    <br>

                    <input type="email" name="email" value="{{ @email }}" id="email" class="form-control">
                </label>
            </div>  <!-- End of email input row -->

            <!-- Password input row -->
            <div class="row">
                <!-- Password input column -->
                <div class="col-6">
                    <label class="w-100">
                        <strong>Password</strong>
                        <br>

                        <input type="password" name="password" id="password" class="form-control">
                    </label>
                </div>  <!-- End of password input column -->

                <!-- Password confirmation input column -->
                <div class="col-6">
                    <label class="w-100">
                        <strong>Confirmation</strong>
                        <br>

                        <input type="password" name="confirmation" id="confirmation" class="form-control">
                    </label>
                </div>  <!-- End of password confirmation input column -->
            </div>  <!-- End of password input row -->

            <input class="btn btn-primary text-uppercase w-100" type="submit" value="Create Account">
        </form>

    </div>

<!-- Bootstrap script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>