<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
<h3>Results</h3>
<div name="pay">
    <check if="{{ isset(@payType) }}">
        <!--Determine what type of pay we need to display-->
        <check if="{{ @payType == 'hourly' }}">
            <true>
                <!--Hours-->
                <p>{{@hours}}</p>
                <!--Wage-->
                <p>{{@wage}}</p>
                <!--Total-->
                <p>{{@total}}</p>
                <!--Post-Tax Total-->
                <p>{{@postTax}}</p>
            </true>
            <false>
                <check if="{{ @payType == 'salary' }}">
                    <true>
                        <!--Total-->
                        <p>{{@total}}</p>
                        <!--Post-Tax Total-->
                        <p>{{@postTax}}</p>
                    </true>
                    <false>
                        <check if="{{ @payType == 'manual' }}">
                            <true>
                                <!--Total-->
                                <p>{{@total}}</p>
                            </true>
                            <false>
                                <!--ERROR-->
                                <p>An error has occurred when calculating your pay</p>
                            </false>
                        </check>
                    </false>
                </check>
            </false>
        </check>
    </check>
</div>
<div name="expenses">
    <p>Expenses:</p>
    <!--Loop over and display each expense-->
    <repeat group="{{@results->getExpenses()}}" value="{{@value}}" >
        <!--"Name(Amount): new total"-->
        <p>-{{@value->getName()}}({{@value->getAmount()}}):
            ${{@results->setTotal(@results->getTotal()-@results->getAmount())}}</p>
    </repeat>
</div>
<div name="remaining">
    <!--Display the amount remaining-->
    <p>{{ @results->getTotal() }}</p>
</div>
</body>
</html>